<!DOCTYPE html>

<html>
    
    
    <head>
        
        <link rel="stylesheet"  type="text/css"  href="meyer_reset.css">
        <link rel="stylesheet"  type="text/css"  href="index.css">
        
    </head>
    
    
    <body>
        
        <div id="app">
            
            <div class="LOC-T-02">
            
                <div id="LOC-03">   
                    
                    <p class="PAT-T-01"> How much nutrient solution would you like to make?</p> 
                    
                    
                    <input  class="IPT-T-01"
                            type="text" 
                            v-model="gallons"
                            v-on:change="mixSelector">
                    
                    <p class="PAT-T-01"> (Enter the quantity in U.S. gallons.) </p>
            
                </div>  <!--END #LOC-03-->
                
                
                <div id="LOC-04">
                
                    <p class="PAT-T-01"> Is the source you are using considered "soft" or "hard" water?</p>
            
                    <label  id="LAB-01"
                            
                            
                            for="RAD-01">
                            Soft
                    </label>
            
                    <input  id="RAD-01"
                            class="RAD-T-01"
                            name="RAD-01"
                            type="radio"
                            v-model="hardWater"
                            :value="false"
                            v-on:change="mixSelector">
            
                    <label  id="LAB-02"
                            class="LAB-T-01">
                            Hard
                    </label>
                
                    <input  id="RAD-02"
                            type="radio"
                            v-model="hardWater"
                            :value="true"
                            v-on:change="mixSelector">
                
                </div>  <!--END LOC-T-04-->
                
                
                <div id="LOC-05">
                
                    
                    <p class="PAT-T-01">Select the general category of plant you will be nourishing with this solution.</p>
            
                    <select id="plantType"
                            v-model="plantType"
                            v-on:change="mixSelector">
                
                    <option value="LFGR"> Leafy greens </option>
                    <option value="NUHG"> Nutrient hogs </option>
                    <option value="PEPR"> Peppers </option>
                
                    </select>
                
                
                </div>
                
                
                
                <div id="LOC-06">
                
                    <p class="PAT-T-01">Select whether your plants are in the "flowering" or "vegetation" state.</p>
            
                    <label  id="LAB-03"
                            class="LAB-T-01">
                            Flowering
                    </label>
            
                    <input  id="RAD-03"
                            type="radio"
                            v-model="flowering"
                            :value="true"
                            v-on:change="mixSelector">
            
                
                    <label  id="LAB-04"
                            class="LAB-T-01">
                            Vegetation
                    </label>
                
                    <input  id="RAD-04"
                            type="radio"
                            v-model="flowering"
                            :value="false"
                            v-on:change="mixSelector">
                    
                    <p class="PAT-T-01">(Peppers only.)</p>
                
                </div>
            
            
            
            
            >

            </div>      <!--END LOC-T-02 CONTAINS WHOLE GRID-->
                
                
            <div id="LOC-07">   
            
                <div class="LOC-T-01">

                    
                    <p  id="ING-01"
                        class="PAT-T-02">
                        Masterblend:
                    </p>         
                    
                        <div    id="OUT-01"
                                class="PAT-T-02">
                                {{masterBlend}}
                        </div>      
                    
                            <p id="UNI-01"  
                               class="PAT-T-02">                                                                                                           grams
                            </p>
                    

                    <p  id="ING-02"
                        class="PAT-T-02">
                        Calcium nitrate:
                    </p>     
                        
                        <div    id="OUT-02"
                                class="PAT-T-02">
                                {{calciumNitrate}}
                        </div>   
                        
                            <p  id="UNI-02"
                                class="PAT-T-02">
                                grams
                            </p>

                    
                    <p  id="ING-03"
                        class="PAT-T-02">
                        Ammonium sulfate:
                    </p>    
                    
                        <div    id="OUT-03">
                                {{ammoniumSulfate}}
                        </div>  
                            
                            <p id="UNI-03"
                               class="PAT-T-02">
                                grams
                            </p>

                    
                    <p  id="ING-04"
                        class="PAT-T-02">
                        Magnesium sulfate:
                    </p>   
                        
                        <div    id="OUT-04"
                                class="PAT-T-02">
                                {{magnesiumSulfate}}
                        </div> 
                            
                            <p id="UNI-04"
                               class="PAT-T-02">
                                grams
                            </p>

                </div>    
            
            </div>
             
        </div>
        
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
        
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous">
    </script>
        
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <script src="index.js"></script>    
        
    </body>
    
        
</html>