body
{
    
        
}

header
{
    display:                flex;
    justify-content:        center;
    align-items:            center;
    
    height:                 10vh;
    margin-bottom:          2rem;
    
    font-family:            'Squada One', cursive;
    font-size:              3rem;     
    color: white;
    
    background-image:       url("ASSETS/BG-DKPLNT.jpeg");
    background-repeat:      no-repeat;
    background-size:        cover;
    
    
}


tr:nth-child(even)
{
    background-color: lightgreen;
}