* {
    margin:                 0;
    padding:                0;
    font-size:              10px;
    
}

.LOC-T-01 {
    
    display:                grid;
    
    grid-template-areas:    "ING-01 OUT-01 UNI-01"
                            "ING-02 OUT-02 UNI-02"
                            "ING-03 OUT-03 UNI-03"
                            "ING-04 OUT-04 UNI-04";
    
    max-width: 400px;  
}


.LOC-T-02 {
    
    display: grid;
    
    grid-template-areas:    "LOC-03"
                            "LOC-04"
                            "LOC-05"
                            "LOC-06"
                            "LOC-07";
    
}


#LOC-03 {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    grid-area: LOC-03;
    
    width: 100vw;
    
    text-align: center;
}


#LOC-04 {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    grid-area: LOC-04;
    
    width: 100vw;
    
    text-align: center;
}


#LOC-05 {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    grid-area: LOC-05;
    
    width: 100vw;
    
    text-align: center;
}



#LOC-06 {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    grid-area: LOC-06;
    
    width: 100vw;
    
    text-align: center;
}


#LOC-07 {
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    grid-area: LOC-07;
    
    width: 100vw;
    
    text-align: center;
}


.RAD-T-01 {
    
    transform:scale(3);
    
}



.OPT-T-01
{

    
    border:     2px solid black;
    
    color: red;
}


.IPT-T-01
{
    max-width:      30vw;
    font-size:      10rem;
}


.PAT-T-01 {
    font-size: 3rem;
}

.PAT-T-02 {
    font-size: 3rem;
}


.LAB-T-01
{
    font-size: 3rem;
}


#ING-01 {grid-area: ING-01;}
#ING-02 {grid-area: ING-02;}
#ING-03 {grid-area: ING-03;}
#ING-04 {grid-area: ING-04;}

#OUT-01 {grid-area: OUT-01;}
#OUT-02 {grid-area: OUT-02;}
#OUT-03 {grid-area: OUT-03;}
#OUT-04 {grid-area: OUT-04;}

#RAD-01 {grid-area: RAD-01;}
#RAD-02 {grid-area: RAD-02;}
#RAD-03 {grid-area: RAD-03;}
#RAD-04 {grid-area: RAD-04;}

#UNI-01 {grid-area: UNI-01;}
#UNI-02 {grid-area: UNI-02;}
#UNI-03 {grid-area: UNI-03;}
#UNI-04 {grid-area: UNI-04;}



